<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  
  <div id="app">
    <a :href="link">{{ message }}</a> <!-- v-bind == : -->
    <button @click="addPerson">Ajouter une personne</button>
    <ul>
      <li v-for="person in persons">{{ person }}</li>
    </ul>

    <div>
      <input type="text" v-model="message"> <!-- v-model != :value // avec v-model, change la valeur de la var message-->
    </div>

    <input type="checkbox" v-model="cls" :true-value="'green'" :false-value="'red'">
    <div :class="cls">
    <!-- <div :class="{green : success, red: !success}"> ternary -->
    <!-- <div :class="success ? 'green' : 'red'">   -->
    <!--  <div v-if="success"> -->
      <p @click="close">X</p> <!-- v-on == @ -->
      <p>variable success = true</p>
    </div>
    <!-- <div v-if="!success">
      <p>variable success = false</p>
    </div> -->
    <!-- <div v-else>
      <p>variable success = false</p>
    </div> -->
  </div>

  <div id="timer">
    {{ seconds }}
  </div>

  <div id="watcher">
    <input type="checkbox" v-model="success"></input>
    <input type="text" v-model='message'>
    {{ message }}
    <p>
      Prénom: {{ firstname }} <br>
      Nom: {{ lastname }} <br>
      Complet: <input type="text" v-model="fullname">
    </p>
    <div class="message" :class="cls">La super valeur computed</div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
  <script src="js/app.js"></script>
</body>
</html>